email=kingsleyobiedeh@gmail.com
##always-auth=true
## This allows to generate the nexus token below: echo -n "your nexus username:your nexus user password" | open ssl base 64
_auth=a2luZzIwMjI6NG1lJkNvbmNvcmRpYQ==
allowRepublish=true
